.logo {
  width: 218px;
  height: 54px;
  margin: 0px;
}

.profile_icon {
  margin-top: 4px;
  width: 17px;
  height: 21px;
  padding: 0px 20px;
}

.language_icon {
  margin-top: 4px;
  width: 19px;
  height: 17px;
  padding: 0px 20px;
}

.icon_div {
  display: flex;
  align-items: center;
}

.MainDiv {
  display: flex;
  margin: 0px;
  align-items: center;
  justify-content: space-between;
  padding: 10px 110px;
}

.Ulitem {
  display: flex;
  align-items: center;
}

li {
  list-style: none;
  padding: 0px 20px;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
}


.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}

.open {
  /* transform: rotate(-45deg); */
}

.Ulitem.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 3;
  gap: 10px;
}

.Ulitem.open li {
  text-align: left; 
  margin-bottom: 10px; 
}

.separator {
  display: inline; 
}

.Ulitem.open .separator {
  display: none; 
}


@media (max-width: 768px) {
  .MainDiv {
    padding: 10px 20px; 
    /* flex-direction: column;  */
    text-align: center;
  }

  .Ulitem {
    display: none; 
    align-items: start;
  }

  .menu-icon {
    display: flex; 
    align-items: center;
    justify-content: flex-end;
  }

  .profile_icon {
    margin-top: 4px;
    padding: 0px 10px 0px 0px;
  }
  
  .language_icon {
    margin-top: 4px;
    padding: 0px 10px 0px 0px;
  }
}
