
.mainDiv {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  padding: 5px;
  flex-wrap: wrap;
}

.mainDiv a {
  color: white;
}

.navlist {
  display: flex;
  justify-content: center;
  margin: 0;
  flex-wrap: wrap;
}

.findButton {
  width: 175px;
  height: 33px;
  text-align: center;
  line-height: normal;
  background-color: #333333;
  color: white;
  border-color: white;
  border-style: solid;
}


@media (max-width: 768px) {
  .mainDiv {
    flex-direction: column; 
    align-items: center; 
    position: relative;
  }

  .menuButton {
    display: block;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }

  .menuItems {
    display: none;
    list-style: none;
    padding: 0;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333333;
    z-index: 2;
  }

  .menuItems.open {
    display: block;
  }

  .menuItems li {
    padding: 10px 0;
  }
}
