.mainDiv {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  padding: 5px;
}

.mainDiv a {
  color: white;
}

ul {
  display: flex;
  justify-content: center;
  margin: 0;
}

.findButton {
  margin-left: 80px;
  width: 175px;
  height: 33px;
  text-align: center;
  line-height: normal;
  background-color: #333333;
  color: white;
  border-color: white;
  border-style: solid;
}
